@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
  }
  
  @font-face{
    font-family: 'Fira Sans';
    src: url("eot/FiraSans-Regular.eot");
    src: local("Fira Sans Regular"),
         url("eot/FiraSans-Regular.eot") format("embedded-opentype"),
         url("woff/FiraSans-Regular.woff") format("woff"),
         url("ttf/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: neon;
  src: url(hellodenverdisplayregular_v1.6.ttf);
}
@font-face {
  font-family: neon;
  src: url(hellodenverdisplayregular_v1.6.ttf);
}
*{

  font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  display: flex;
}
.container{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 3;
}
.open{
  border: none;
  margin: 1%;
  padding: 10%;
  width: 220px;
  font-family: 'Montserrat',sans-serif;
  font-size:15px;
  text-transform: uppercase;
  box-shadow:3px 3px;
  border-radius: 6px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.795);
  background-size: 200%;
  transition: 0.6s;
  z-index: 3;
}
.open1{
  background-image: linear-gradient(to left,#304ffa, #f441a5,#0343f4);
  z-index: 3;
}
.open:hover{
  background-position: right;
}
.text-anim{
  color: #ffffff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: none;
  padding: 0 30px;
  height: 45px;
  overflow: hidden;
}
.linha{
  font-family: consolas;
  text-transform: bolder;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
}
.linha:first-child{
  animation: textinho 12s infinite;
}
@keyframes textinho {
  15%{
    margin-top: 0;
  }
  35%{
    margin-top: -60px;
  }
  55%{
    margin-top: -120px;
  }
  85%{
    margin-top: -180px;
  }
  
}



#mainnav {
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 5;
    
}
#mainnav li {
  margin: 55px 0;
  left: -550px;
  position: relative;
  display: none;
    
}
#mainnav a {
  color: white;   
  text-decoration: none;
  font-size: 1.4em;

      

} 
ul li{
  list-style: none;
  margin-top: -50px;
  
}
.hamb {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2.5em;
  z-index: 5;
}
.hamb a {
  color: #fff;
  text-decoration: none;
}
.hero {
  width: 100%;
  min-height: 600px;
  background-image:url(testmonial-bg.jpg);
    background-size: cover;
}
#bubble {
  width: 100%;
  height: 100%;
  opacity: 2.0;
  position: fixed;
  display: none;
  z-index: 4;
  background: rgba(0, 0, 0, .5);
}
.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  
}


.card{
  background:none;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(30% - 20px);
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  z-index: 2;
 
}

.card-icon{
  font-size: 28px;
  background: #ca14f74b;
  width: 50%;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon{
  background: none;
  color: rgba(0, 119, 255, 0.685);
  transform: scale(1.6);
}


.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
}


@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

.land{
display: flex;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
}


.land::after{
display: flex;
content: " ";
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
background-image: url(../img/Radio.jpg);
background-repeat: no-repeat; 
background-size: cover;
opacity: 0.2;
animation: anim 25s infinite;
}
@keyframes anim {
  50%{
    transform: scale(2);
  }
100%{
  transform: scale(1);
}



}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

  .fadeIn {
  
    animation: fadeIn 0.5s ease-in-out;
    }
    .logof img
    {
      background-origin: url("img/ec9df80b-d9ba-4980-9549-7d77d9cf9ffb_200x200.png");
z-index: 8;
    }
.land a{
position: absolute;
top: 5%;
left: 93%;
transform: translate(-50%,-50%);
width: 200px;
height: 60px;
text-align: center;
line-height: 60px;
color:#fff;
font-size: 20px;
text-transform: uppercase;
text-decoration: none;
font-family: consolas;
box-sizing:border-box;
background: linear-gradient(90deg,#304ffa, #f441a5,#b9f514,#0343f4);
background-size:400%;
border-radius: 30px;
}
.land a{

animation:animate 8s linear infinite;
}
@keyframes animate
{
  0%
  {
    background-position: 0%;
}
100%
{
  background-position: 400%;
}
}
.land a::before{
content:'';
position: absolute;
top: -5px;
left: -5px;
right: -5px;
bottom: -5px;
z-index: -1;
background: linear-gradient(90deg,#2b6bf5, #f441a5,#3bff9d,#1c55ce);
background-size:400%;
border-radius: 40px;
filter: blur(10px);

}
.conteudo{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing:border-box;
}

.conteudo h1{
text-transform: uppercase;
color: rgb(248, 248, 248);
font-size: 45px;
font-weight: 900;
margin-bottom: 20px;
text-shadow: #000 2px 2px 3px;
}
.conteudo p{
  font-weight: bolder;
color: rgba(213, 116, 116, 0.753);
margin-bottom: 20px;

}

.conteudo a{

display: inline-block;
text-decoration: none;
outline: none;
  margin: 20px;
  padding: 24px;
  width: 220px;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s;

}

.conteudo a:hover{
  color: azure;
  background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
  
}

.text{

padding: 10px;
text-align: justify;
}
::-webkit-scrollbar{

background: #ddd;
width: 14px;

}

::-webkit-scrollbar-track{
  box-shadow:inset 0 0 10px #00000070;
  border-radius: 10px;


}
::-webkit-scrollbar-thumb{

background: linear-gradient(125deg,#3498db,#34495e);
border-radius: 10px;

}

.info{
  display: flex;
  position: absolute;
left :1250px;
top: 800px;
}

svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 350%;
color:white;
  z-index: 1;
}
svg text{
  font-family: Varela;
  font-size: 75px;
  fill: rgb(0, 0,0, 0.1);
  stroke-width: 1px;
  stroke: white;
  stroke-linejoin: round;
  stroke-dasharray: 80;
  animation: animatrix 4.5s linear infinite;

}
  @keyframes animatrix
  {
100%
{
stroke-dashoffset: 160;

}


  }












